<div class="container">
    <h3>Products and Orders</h3>
    <div style="position: relative">
        
        <kendo-grid
            [data]="products" [height]="500"
            [sortable]="true" [sort]="state.sort"
            [pageable]="true" [skip]="state.skip" [pageSize]="state.take"
            [groupable]="true" [group]="state.group"
            [filterable]="true" [filter]="state.filter"
            [scrollable]="'scrollable'"
            (dataStateChange)="dataStateChange($event)">
            
            <ng-template kendoGridToolbarTemplate>
                <button type="button" kendoGridExcelCommand><span class="k-icon k-i-file-excel"></span>Export to Excel</button>
            </ng-template>

            <kendo-grid-column field="courseId" title="Course Id" width="50px"></kendo-grid-column>
            <kendo-grid-column field="courseName" title="Name"></kendo-grid-column>
            <kendo-grid-column field="specialty" title="Specialty"></kendo-grid-column>
            <kendo-grid-column field="description" title="Description" width="150px"></kendo-grid-column>
            <kendo-grid-column field="reviewDate" title="Review Date" format="{0:MM/dd/yyyy}" filter="date"></kendo-grid-column>
            <kendo-grid-column field="releaseDate" title="Release Date" format="{0:MM/dd/yyyy}" filter="date"></kendo-grid-column>
            <kendo-grid-column field="expirationDate" title="Expiration Date" format="{0:MM/dd/yyyy}" filter="date"></kendo-grid-column>
            <kendo-grid-column field="credits" title="Credits"></kendo-grid-column>
            <kendo-grid-column field="cMECert" title="CME Cert"></kendo-grid-column>
            <kendo-grid-column field="cNECert" title="CNE Cert"></kendo-grid-column>
            <kendo-grid-column field="riskSpecific" title="Risk Specific"></kendo-grid-column>
            <kendo-grid-column field="settings" title="Settings"></kendo-grid-column>
            <kendo-grid-column field="medicalRole" title="Medical Role"></kendo-grid-column>
            <kendo-grid-column field="state" title="State"></kendo-grid-column>

            <kendo-grid-excel fileName="CourseCatalog.xlsx"></kendo-grid-excel>
        </kendo-grid>
        <div *ngIf="isLoading" class="spinner-wrapper">
            <span class="k-icon k-i-loading spinner"></span>
        </div>
    </div>
</div>
